body{
    background-color: lemonchiffon;
}
h1{
    color:cadetblue;
    font-size: 60px;
    font-family:cursive;
    text-align: center;
    border: solid 3px;
    padding: 10px;
    margin: 100px auto;
    max-width:900px;
}

h2{
    color:lemonchiffon;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    margin: 24px;
}

h3{
    color: #2F4F4F;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    text-align: left;
}

h4{
    color:cadetblue;
    font-size: 60px;
    font-family:cursive;
    text-align: center;
}

.reflections {
    max-width:800px;
    margin: 60px auto;
    padding: 48px 24px;
    background-color: cadetblue;
    border-radius: 20px;
    text-align:center;
}

.reflection-options {
    border: 1px solid  lemonchiffon;
    border-radius: 8px;
    padding: 15px;
    margin: 15px auto;
    background-color:  lemonchiffon;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    max-width: 400px;
}

.buttons{
    font-size: 25px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    background-color:#FFB07C;
    color: #2F4F4F;
    padding: 10px 20px;
    border-radius: 6px;
    border-color:#FFB07C
}

.buttons:hover{
    background-color:#2F4F4F;
    color:#FFB07C;
    transform:scale(2);
}

.main-page{
    font-size: 25px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    background-color:#FFB07C;
    color: #2F4F4F;
    padding: 10px 20px;
    border-radius: 6px;
    border-color:#FFB07C;
    margin:15px;
}

figure{
    text-align: center;
    margin:20px;
}

figure img{
    width:600px;
    height:auto;
}

figcaption{
    font-size: 15px;
    color:black;
    margin-top: 2px;
    display:block;
    text-align: right;
    width: 600px;
    margin: 0 auto;
}

.body-paragraphs p{
    max-width:700px;
    margin:30px auto 15px auto;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    text-indent: 2em;
    line-height: 1.5;
}


.footer p{
    font-size: 20px;
    color:cadetblue;
    text-align:right;
}
