* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Barrio", system-ui;
}

.start-screen {
  width: 100vw;
  height: 100vh;
  background-image: url("start-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  width: 1000px;
  height: auto;
  margin-bottom: 10px;
}

.start-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.start-button {
  background-color: #94191b;
  color: #fbf8ef;
  text-decoration: none;
  font-weight: 700;
  padding: 14px 36px;
  border-radius: 32px;
  font-size: 18px;
  letter-spacing: 1.5px;
  box-shadow: 0 5px 0 #6b0000;
  transition: all 0.15s ease;
}

.start-button:hover {
  transform: translateY(2px);
  box-shadow: 0 3px 0 #6b0000;
}

