* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Barrio", system-ui;
}

.start-screen {
  width: 100vw;
  height: 100vh;
  background-image: url("start-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  width: 1100px;
  height: auto;
  margin-bottom: 10px;
}

.start-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.start-button {
  background-color: #94191b;
  color: #fbf8ef;
  text-decoration: none;
  font-weight: 700;
  padding: 14px 36px;
  border-radius: 32px;
  font-size: 18px;
  letter-spacing: 1.5px;
  box-shadow: 0 5px 0 #6b0000;
  transition: all 0.15s ease;
}

.start-button:hover {
  transform: translateY(2px);
  box-shadow: 0 3px 0 #6b0000;
}

.game-instructions {
  margin-top: 1px;
  font-size: 18px;
  font-family: "Barrio", system-ui;
  color: #94191b;
  text-align: center;
  z-index: 2;

}

.decorations {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 2;
}

.heart {
  position: absolute;
  width: 120px;
  animation: slowShake 6s ease-in-out infinite;
  bottom: 10%; left: 15%;
}

.dice {
  position: absolute;
  width: 300px;
  animation: slowShake2 6s ease-in-out infinite;
  top: 10%; left: 5%;
}

.ribbon {
  position: absolute;
  width: 300px;
  animation: slowShake2 6s ease-in-out infinite;
  bottom: 5%; right: 15%;
}

.button {
  position: absolute;
  width:160px;
  animation: slowShake 6s ease-in-out infinite;
  bottom: 20%; left: 5%;
}

.star {
  position: absolute;
  width: 200px;
  animation: slowShake 6s ease-in-out infinite;
  top: 1%; right: 9%;
}

@keyframes slowShake {
  0%   { transform: rotate(0deg) translateX(0); }
  25%  { transform: rotate(20deg) translateX(2px); }
  75%  { transform: rotate(-20deg) translateX(-2px); }
  100% { transform: rotate(0deg) translateX(0); }
}

@keyframes slowShake2 {
  0%   { transform: rotate(0deg) translateX(0); }
  25%  { transform: rotate(-20deg) translateX(-2px); }
  75%  { transform: rotate(20deg) translateX(2px); }
  100% { transform: rotate(0deg) translateX(0); }
}